.header {
  text-align: center;
  font-size: 28px;
  background-color: black;
  padding: 12px;
}
.header a {
  color: yellow;
  text-shadow: 0px 0px 3px white;
}
.header a:hover {
  color: yellow;
  text-decoration: initial;
}
.footer {
  text-align: center;
  font-size: 22px;
  background-color: black;
  color: yellow;
  text-shadow: 0px 0px 2px white;
  padding: 12px;
}
.home {
  width: 100%;
}
.page-content {
  padding: 18px;
}